<div id = "demo">
    <br/>
    <br/>
    <br/>
    <br/>
    <div class = "button" ng-click = "deathCase.apply()" active = "{{deathCase.active}}">Death Case</div>
    <br/>
    <div class = "button" ng-click = "manyTasks.apply()" active = "{{manyTasks.active}}">Many Tasks Case</div>
    <br/>
    <div class = "button" ng-click = "myCase.apply()" active = "{{myCase.active}}">My Case</div>
    <br/>
    <div class = "button" ng-click = "reset()">Reset DB</div>
    <br/>
    <div class = "button">DB</div>
    <br/>
    <div class = "button">DB</div>
    <br/>
    <div class = "button">DB</div>
    <br/>
    <div class = "button">DB</div>
    <br/>
</div>
