<div id = "notch">
    <div class="cont">
        <progress class = 'progress-bar' id="progress-bar" min="1" max="100" value="0"></progress>
        <span ng-click = "first()"class="first border-change"></span>
        <span ng-click = "second()"class="second"></span>
        <span ng-click = "third()"class="third"></span>
        <span ng-click = "fourth()"class="fourth"></span>
        <span ng-click = "fifth()"class="fifth"></span>
        <p class="percent">{{percent}}% Complete</p>
    </div>
</div>
